<a href="https://colab.research.google.com/github/Jbediah/Python-Basics/blob/main/Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Various Functions of libraries

---

>strings
---

In [ ]:
#Strings
String="A Test String"

In [ ]:
#boolean String Functions
print(String.isalnum())
print(String.isalpha())
print(String.istitle())
#Other String Functions
print(String.capitalize())
print(String.rstrip())

False
False
True
A test string
A Test String


---
>Lists
---

In [ ]:
List=[1,2,3,4,5]

In [ ]:
#List Functions
List.append(6)  #add at the end
print(List)
List.insert(0,0)  #insert at some specified index
print(List)
List.extend([7,8,9])  #adding multiple elements at once
print(List)

[1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#List Operations
print(sum(List))
List.pop()
print(List)
List.pop(0)   #pop element of 0th index
print(List)
List.count(1)
List*2 #This means list will be contatenated with itself

45
[0, 1, 2, 3, 4, 5, 6, 7, 8]
[1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

#Sets

In [4]:
#Sets use curly bases and are MUTABLE with NO DUPLICATES
SETS={1,2,3,3,4}
print(SETS)
#print(SETS[1]) this wont work as SETS do not allow it

{1, 2, 3, 4}